
#addClass, #sendMessage{
display:none;
position:fixed;
top:200px;
left:40%;
width:200px;
height:150px;
padding-top:30px;
text-align:center;
background:none repeat scroll 0 0 #E8EFD4;
border: 1px solid #669933;
 color: #669933;
}

#addClass a, #addClass a:link, #addClass a:visited,
#sendMessage a, #sendMessage a:link, #sendMessage a:visited
{
 color: #669933;

}

#rounded-corner tr.odd, #rounded-corner tr.odd td{
  background: #E8EFD4;
}

#rounded-corner tr.marked, #rounded-corner tr.marked td{
  background: #DDE4C8;
}

/*none repeat scroll 0 0 #E8EFD4*/